---
import { Image } from "astro:assets";
import { basics } from "@data";
import profileImg from "@img/profile.webp";
import AboutMeItem from "./AboutMeItem.astro";
import Socials from "@/components/utilities/social/Socials.astro";

interface Profile {
  username: string;
  url: string;
  color: string;
}

interface ParagraphPart {
  text: string;
  type: string; //"normal" | "italic" | "highlight";
}

interface Paragraph {
  [part: string]: ParagraphPart;
}

interface Summary {
  paragraph1: Paragraph;
  paragraph2: Paragraph;
  paragraph3: Paragraph;
}

const codepen: Profile = basics.profiles.CodePen;

const SUMMARY: Summary = basics.summary;
---

<section class="flex flex-col items-center justify-center gap-8 md:flex-row">
  <div
    class="order-2
    text-wrap
    text-[txt-color-1]
    md:order-1
    [&>p>strong]:font-semibold
    [&>p>strong]:text-[--txt-color-3]
    [&>p]:mb-4"
  >
    <p class="">
      {
        Object.values(SUMMARY.paragraph1).map((part, index, array) => (
          <AboutMeItem
            paragraphPart={part}
            paragraphIndex={index}
            paragraphArray={array.length}
          />
        ))
      }
    </p>
    <p>
      {
        Object.values(SUMMARY.paragraph2).map((part, index, array) => (
          <AboutMeItem
            paragraphPart={part}
            paragraphIndex={index}
            paragraphArray={array.length}
          />
        ))
      }
    </p>

    <p>
      {
        Object.values(SUMMARY.paragraph3).map((part, index, array) => (
          <AboutMeItem
            paragraphPart={part}
            paragraphIndex={index}
            paragraphArray={array.length}
          />
        ))
      }
    </p>
    <div class="">
      {
        codepen && (
          <Socials
            class=" flex flex-wrap  gap-2 mb-4"
            profiles={{
              CodePen: codepen,
            }}
          />
        )
      }
    </div>
  </div>

  <Image
    src={profileImg}
    class="order-1 mb-4 size-64 rounded-full md:order-2"
    alt="logo"
    id="img"
  />
</section>
