---
import "@css/Skills.css";
import { skills } from "@data";
import SkillsItem from "./SkillsItem.astro";

interface Skill {
  name: string;
  keywords: string[];
  frameworks?: Skill[];
}

interface Skills {
  backend: Skill[];
  frontend: Skill[];
  mobile: Skill[];
  databases: Skill[];
  tools: Skill[];
}

const BACKEND: Skill[] = skills.backend;
const FRONTEND: Skill[] = skills.frontend;
const MOBILE: Skill[] = skills.mobile;
const DATABASES: Skill[] = skills.databases;
const TOOLS: Skill[] = skills.tools;
---

<div class="skill-container">
  <!-- frontend -->
  <div class="skill-section">
    <h3
      class="skill-header text-3xl text-[--txt-color-3] uppercase tracking-wide"
      data-text="frontend"
    >
      frontend
    </h3>

    <ul class="skill-ul">
      {
        FRONTEND.map((item) => (
          <li class="skill-li">
            <SkillsItem item={item} />

            {item.frameworks && (
              <ul class="skill-ul">
                {item.frameworks.map((framework) => (
                  <li class="skill-li">
                    <SkillsItem item={framework} />

                    {framework.frameworks && (
                      <ul class="skill-ul">
                        {framework.frameworks.map((subframework) => (
                          <li class="skill-li">
                            <SkillsItem item={subframework} />
                          </li>
                        ))}
                      </ul>
                    )}
                  </li>
                ))}
              </ul>
            )}
          </li>
        ))
      }
    </ul>
  </div>
  <!-- backend -->
  <div class="skill-section">
    <h3
      class="skill-header text-3xl text-[--txt-color-3] uppercase tracking-wide"
      data-text="backend"
    >
      backend
    </h3>
    <ul class="skill-ul">
      {
        BACKEND.map((item) => (
          <li class="skill-li">
            <SkillsItem item={item} />
            {item.frameworks && (
              <ul class="skill-ul">
                {item.frameworks.map((framework) => (
                  <li class="skill-li">
                    <SkillsItem item={framework} />
                  </li>
                ))}
              </ul>
            )}
          </li>
        ))
      }
    </ul>
  </div>
  <!-- mobile -->
  <div class="skill-section">
    <h3
      class="skill-header text-3xl text-[--txt-color-3] uppercase tracking-wide"
      data-text="mobile"
    >
      mobile
    </h3>
    <ul class="skill-ul">
      {
        MOBILE.map((item) => (
          <li class="skill-li">
            <SkillsItem item={item} />
            {item.frameworks && (
              <ul class="skill-ul">
                {item.frameworks.map((framework) => (
                  <li class="skill-li">
                    <SkillsItem item={framework} />
                  </li>
                ))}
              </ul>
            )}
          </li>
        ))
      }
    </ul>
  </div>
</div>

<div class="skill-container">
  <!-- databases -->
  <div class="skill-section">
    <h3
      class="skill-header text-3xl text-[--txt-color-3] uppercase tracking-wide"
      data-text="databases"
    >
      databases
    </h3>

    <ul class="skill-ul">
      {
        DATABASES.map((item) => (
          <li class="skill-li">
            <SkillsItem item={item} />
          </li>
        ))
      }
    </ul>
  </div>
  <!-- tools -->
  <div class="skill-section">
    <h3
      class="skill-header text-3xl text-[--txt-color-3] uppercase tracking-wide"
      data-text="tools"
    >
      tools
    </h3>
    <ul class="skill-ul">
      {
        TOOLS.map((item) => (
          <li class="skill-li">
            <SkillsItem item={item} />
          </li>
        ))
      }
    </ul>
  </div>
</div>
