---
import ProjectGalleryModal from "./ProjectGalleryModal.astro";
const { class: className } = Astro.props;
/* 
Note: It's very important follow the format for images:
example: test-1.jpg
without more points al final, it's important has a "-"  before a image number;
 */

const assetsDir = "/imgs/";
const images: string[] = Astro.props.images;
---

<div class="gallery-container max-w-[45rem] aspect-video">
  <section
    class="gallery-item flex flex-wrap justify-center items-center px-4 py-4"
  >
    {
      images.map((image) => (
        <div class="galery-item w-full sm:w-1/2 p-2">
          <img
            id={image}
            loading="lazy"
            src={`${assetsDir}${image}`}
            alt={`${image}`}
            class={`gallery-img aspect-video object-cover rounded-2xl h-full ${className}`}
          />
        </div>
      ))
    }
  </section>
</div>
<ProjectGalleryModal />
<script src="/src/scripts/ProjectGallery.ts"></script>
