---
const { class: className } = Astro.props;

const images: string[] = Astro.props.images;
---

<div>
  <section class="slider-container relative">
    <div class="slider-wrapper mx-auto max-w-[45rem]">
      <div
        class="slider-imgs flex overflow-x-auto snap-x-mandatory scroll-smooth rounded-md"
      >
        {
          images.map((image) => (
            <img
              id={image}
              loading="lazy"
              src={`/src/assets/img/${image}.webp`}
              alt={`${image}`}
              class={`slider-img flex-grow flex-shrink-0 w-full scroll-snap-align-start object-cover ${className}`}
            />
          ))
        }
      </div>
      <div
        class="slider-nav flex absolute bottom-5 left-2/4 transform -translate-x-1/2"
      >
        {
          images.map((image) => (
            <a
              href={`#${image}`}
              class={`
              slider-nav-link 
              w-4 
              h-4 
              inline-block 
              opacity-75 
              hover:opacity-100 
              bg-[--proj-img-slider-navLink-bg-color] 
              hover:bg-[--proj-img-slider-navLink-hover-bg-color] 
              border 
              border-[--proj-img-slider-navLink-border-color] 
              hover:border-[--proj-img-slider-navLink-hover-border-color] 
              `}
            />
          ))
        }
      </div>
    </div>
  </section>
</div>

<style>
  .slider-container {
  }
  .slider-wrapper {
  }
  .slider-imgs {
    scrollbar-width: none;
  }

  .slider-img {
  }
  .slider-nav {
    column-gap: 1rem;
  }

  .slider-nav-link {
    border-radius: 50%;
    transition: opacity ease 250ms;
  }
  .slider-nav-link:hover {
  }
</style>
